<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
  </test> <!-- Test -->
  
  <test name="Testing parameter">
	  <parameter name="browser_flag" value="edge"></parameter>
	  <parameter name="url" value="https://www.flipkart.com/"></parameter>
	  <classes>
		  <class name="com.flipkart.qa.testclass.TestClass"></class>
	  </classes>
  </test>
</suite> <!-- Suite -->
